/* color backroung */

$color: #3D3D3D;
$background-color: #6D6D6D;

body{
background-color: $background-color; 
color: $color;
}
p {
    color: $color; 
}
h2 {
    background-color:$background-color;
}
